<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".SignInActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".DashBoardActivity"
            android:launchMode="singleInstance" /> <!-- New addition -->
        <activity
            android:name=".NewAddition"
            android:parentActivityName=".DashBoardActivity" />
        <activity
            android:name=".GuardianActivity"
            android:parentActivityName=".DashBoardActivity" />
        <activity
            android:name=".HousingActivity"
            android:parentActivityName=".DashBoardActivity" /> <!-- Housing -->
        <activity
            android:name=".HousingRegistrationActivity"
            android:parentActivityName=".HousingActivity" />
        <activity
            android:name=".HousingFeeActivity"
            android:parentActivityName=".HousingActivity" />
        <activity
            android:name=".PermissionsActivity"
            android:parentActivityName=".HousingActivity" />
        <activity
            android:name=".WarrentyActivity"
            android:parentActivityName=".HousingActivity" />
        <activity
            android:name=".HousingReportsActivity"
            android:parentActivityName=".HousingActivity" />
        <activity
            android:name=".CaseStudyActivity"
            android:parentActivityName=".DashBoardActivity" /> <!-- Bank Procedure -->
        <activity
            android:name=".BankProcedureActivity"
            android:parentActivityName=".DashBoardActivity" /> <!-- Repayments -->
        <activity
            android:name=".RepaymentsActivity"
            android:parentActivityName=".DashBoardActivity" /> <!-- Reports -->
        <activity
            android:name=".ReportsActivity"
            android:parentActivityName=".DashBoardActivity" /> <!-- Student Records -->
        <activity
            android:name=".StudentRecordActivity"
            android:parentActivityName=".DashBoardActivity" />
        <activity
            android:name=".ResearchActivity"
            android:parentActivityName=".DashBoardActivity" />
    </application>

</manifest>